{% verbatim %}
<script id="guest-template" type="text/x-handlebars-template">
    {{# each this}}
    <div class="row person">
        <div id="person_{{ person_count }}" class="col s12">
            <div class="col s12">
                <div class="col s12 m12">
                    <h5>Guest {{ person_count}}</h5>
                </div>

                <div class="col s12 m12">
                    <div class="input-field col s12 m3">
                        <select name="adultchild_{{ person_count }}" id="adultchild_{{ person_count }}">
                            <option value="adult" selected>Adult</option>
                            <option value="child">Child</option>

                        </select>
                        <label for="adultchild_{{ person_count }}">Adult or Child</label>
                    </div>


                    <div class="input-field col s12 m4">
                        <input id="firstname_{{ person_count }}"
                               type="text" class="validate" value="{{ firstname }}"
                               name="firstname_{{ person_count }}">
                        <label class="{{#if firstname}}active{{/if}}" for="firstname_{{ person_count }}">First
                            Name</label>
                    </div>

                    <div class="clear"></div>
                    <div class="input-field col s5">
                        <input id="lastname_{{ person_count }}"
                               type="text" class="validate" value="{{ lastname }}"
                               name="lastname_{{ person_count }}">
                        <label class="{{#if lastname}}active{{/if}}" for="lastname_{{ person_count }}">Last
                            Name</label>
                    </div>


                    <div class="clear"></div>

                    <div class="input-field col m5 s12" id="nationality_container">
                        <input id="nationality_{{ person_count }}" value="{{ nationality }}"
                               type="text" name="nationality_{{ person_count }}">
                        <label class="{{#if nationality}}active{{/if}}" for="nationality_{{ person_count }}">Nationality</label>
                    </div>

                    <div class="input-field col s12 m7">
                        <input id="dietrequirements_{{ person_count }}" type="text" value="{{ dietrequirements }}"
                               name="dietrequirements_{{ person_count }}"/>
                        <label class="{{#if dietrequirements}}active{{/if}}" for="dietrequirements_{{ person_count }}">Dietary
                            Requirements</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</script>

<script id="no-guest-template" type="text/x-handlebars-template">
    <div class="center center-block" id="no-guests">
        <i class="material-icons large">face</i>

        <p>Please enter the number of guests.</p>
    </div>
</script>

<script id="no-attendance-template" type="text/x-handlebars-template">
    <div class="center center-block" id="no-guests">
        <i class="material-icons large">event</i>
        <br/>
        <p>We're sorry you'll miss the wedding! We hope to see you soon though!</p>
        <br/>
        <p>Annapaola and Eamonn</p>
    </div>
</script>


{% endverbatim %}