{% extends "registration/base.html" %}

{% block title %}Annapaola and Eamonn | Log in{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">

            <div align="center" class="col offset-m2 m8 s12" align="center">

                <div align="center">
                    <div style="padding: 1em">
                        <img src="/static/img/heart.svg" width="30px">
                        <br/>
                        <img src="/static/img/us.svg" height="170px"/>
                    </div>
                    <br/>

                    {% block alert %}
                        {% if form.errors %}

                            <div class="card-panel red">
                                <div class="white-text" align="center"> Your username and password didn't match. Please
                                    try
                                    again.
                                </div>
                            </div>
                            <br/>
                        {% endif %}
                    {% endblock %}
                </div>


                <form accept-charset="UTF-8" action="{% url "django.contrib.auth.views.login" %}" class="formbody"
                      id="user_edit" autocomplete="off"
                      method="post">
                    {% csrf_token %}

                    <input name="utf8" type="hidden" class="text" value="✓">
                    <input name="_method" type="hidden" value="put"><input name="authenticity_token" type="hidden">


                    <div align="center">
                        <p>You will have received the username and password in an email already sent to you. But if
                            you don't have one, just email us at <a href="mailto:wedding@annapaola-and-eamonn.co.uk">wedding@annapaola-and-eamonn.co.uk</a> and we'll get you access!</p>
                    </div>

                    <br/><br/>

                    <div class="input-field col s12">
                        <input placeholder="Username" id="username" name="username" type="text">
                        <label for="first_name">Username</label>
                    </div>

                    <div class="clear"></div>

                    <div class="input-field col s12">
                        <input placeholder="Password" id="password" name="password" type="password">
                        <label for="password">Password</label>
                    </div>

                    <div class="clear"></div>

                    <div style="margin-top: 30px">
                        <br/><br/>
                        <input name="commit" type="submit" class="btn blue" value="Log in">
                    </div>

                </form>
            </div>

        </div>
    </div>


{% endblock %}