{% extends 'base.html' %}


{% block menu %}
    <div class="navbar-fixed">
        <nav>

            <div class="nav-wrapper">
                <a href="#welcome" class="scroll_link brand-logo"><img
                        src="{{ STATIC_URL }}img/logo.svg" width="50px"/> </a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i
                        class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#ceremony" class="scroll_link">Cerimonia</a></li>
                    <li><a href="#reception" class="scroll_link">Reception</a></li>
                    <li><a href="#getting_there" class="scroll_link">Arrivarci</a></li>
                    <li><a href="#rsvp" class="scroll_link">RSVP</a></li>
                    <li><a href="#gifts" class="scroll_link">I doni</a></li>
                    <li><a href="/accounts/logout">Disconnettersi</a></li>

                </ul>

                <ul class="side-nav" id="mobile-demo">
                    <div align="center">
                        <img src="{{ STATIC_URL }}img/logo.svg" width="50px"/>
                    </div>
                    <li><a href="#ceremony" class="scroll_link">Cerimonia</a></li>
                    <li><a href="#reception" class="scroll_link">Reception</a></li>
                    <li><a href="#getting_there" class="scroll_link">Arrivarci</a></li>
                    <li><a href="#rsvp" class="scroll_link">RSVP</a></li>
                    <li><a href="#gifts" class="scroll_link">I doni</a></li>
                    <li><a href="/accounts/logout">Disconnettersi</a></li>


                    <li><a href="/?l=it"><img src="{{ STATIC_URL }}img/flag-ita.svg"
                                              width="20px"/></a></li>
                    <li><a href="/?l=en"><img src="{{ STATIC_URL }}img/flag-ire.svg"
                                              width="20px"/></a></li>
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}

{% block content %}
    <section id="welcome" class="top" align="center">

        <img src="{{ STATIC_URL }}img/heart.svg" width="30px">
        <br/>
        <img src="{{ STATIC_URL }}img/us.svg" width="160px">
        <br/>

        <p class="large-text">Annapaola <span class="blue-text large-text">&</span>
            Eamonn</p>

        <p style="font-weight: bolder;">14th Maggio 2016</p>

        <br/><br/>
        <p>
            <a href="/"><img src="{{ STATIC_URL }}img/flag-ire.svg" width="17"/> English version</a>
        </p>
    </section>

    <section id="ceremony" class="church_bg">
        <div class="church">
            <div class="description">
                <h4>Il Ceremonio</h4>

                <p style="font-weight: bolder;">Basilica Cattedrale di Trani,
                    Trani, Puglia</p><br/>

                <p>Proprio sulla costa, questa bella Cattedrale ospiterà il nostro
                    matrimonio.</p><br/>

                <p>La cerimonia avrà inizio alle <strong>4:30pm</strong>. Gli ospiti sono pregati di arrivare <strong>30
                    minuti</strong> prima della cerimonia </p><br/>

                <p>Il parcheggio è normalmente disponibile al di fuori della cattedrale . Un autobus sarà a disposizione
                    per il trasporto di quelli in alberghi e Lavello alla cattedrale e <a href="#reception">il
                        reception</a>.</p>
                <br/>

                <a href="https://www.google.it/maps/place/Cattedrale+di+Trani+-+Basilica/@41.2819073,16.4158642,852m/data=!3m1!1e3!4m2!3m1!1s0x1338040b58cc7ce3:0x880f0c96b60233ee!6m1!1e1?hl=it"
                   target="_blank" class="waves-effect waves-light btn light-blue">Google
                    Maps</a>
            </div>
        </div>
    </section>

    <section id="reception" class="reception_bg">
        <div class="reception">
            <div class="description">
                <h4>The Reception</h4>

                <p>Villa Sant’Elia, Andria-Corato, Puglia</p><br/>

                <a href="http://www.villasantelia.it/index.asp" target="_blank"
                   class="waves-effect waves-light btn light-blue">Villa
                    Sant’Elia</a> <a
                    href="https://www.google.it/maps/place/Villa+Sant'Elia/@41.1787206,16.3590611,672m/data=!3m2!1e3!4b1!4m2!3m1!1s0x13380fceb5bec197:0x6669518639ca16e!6m1!1e1?hl=it"
                    target="_blank"
                    class="waves-effect waves-light btn light-blue">Google Maps</a>
            </div>
        </div>
    </section>

    <section id="getting_there" class="getting_there_bg">
        <div class="getting_there">
            <div class="description">
                <h4>Getting There</h4>

                <div class="row">
                    <div class="col m3">
                        <img src="{{ STATIC_URL }}img/map.svg" width="100%"/>
                    </div>

                    <div class="col m9">
                        <p>Il matrimonio e la ricezione è nella regione Puglia in Italia.</p><br/>

                        <p>L' aeroporto più vicino è a Bari, che è ~45 minuti
                            dal luogo di nozze a Trani. Bari è servita da
                            Ryanair da Dublino, Alitalia e Ryanair da
                            Londra.</p>
                        <br/>

                        <p>Il luogo di nozze, Villa Sant'Elia è ~ 25 minuti
                            da Trani.</p><br/>

                        <p>Gli albergo sono disponibili a Trani , come lo sono i B & B ( e Airbnb ) .
                            La vicina città di Barletta ha anche
                            vari alberghi.</p><br/>

                        <button data-target="hotel_modal"
                                class="btn waves-effect waves-light btn light-blue modal-trigger">
                            Albergi
                        </button>
                        <button data-target="bandb_modal"
                                class="btn waves-effect waves-light btn light-blue modal-trigger">
                            B&Bs
                        </button>

                    </div>


                </div>
            </div>
        </div>
    </section>

    <section id="rsvp" class="rsvp_bg">
        <div class="rsvp">
            <div class="description">
                {% if existing_rsvp %}
                    <div align="center">
                        <i class="material-icons large">move_to_inbox</i>
                    </div>

                    <br/>

                    <p class="large-text center">Thank you for sending the RSVP for the {{ existing_rsvp.family_name }}
                        family! </p><br/>

                    <hr/>
                    <br/><br/>
                    {% if existing_rsvp.attending %}
                        <p>We're looking forward to seeing you at the wedding!</p>
                        <br/>
                        <p>Get excited and read more about the beautiful location you're going to be visiting <a href=""
                                                                                                                 target="_new">here</a>.
                        </p>
                        <br/>
                    {% else %}
                        <p>We're sorry you can't attend, but understand! We hope to see
                            the {{ existing_rsvp.family_name }} clan soon!</p>
                        <br/>
                    {% endif %}


                    <p>If any of these details are incorrect, please email us at <a
                            href="mailto:edits@annapaola-and-eamonn.it?subject=Edits for {{ existing_rsvp.family_name }}">edits@annapaola-and-eamonn.it</a>.
                    </p>



                    {% if existing_rsvp.attending %}
                        <br/>
                        <p>Guest details:</p><br/>

                        <ul class="collection" id="guest_summary">
                            {% for attendant in existing_rsvp.attendees.all %}
                                <li class="collection-item avatar">
                                    <i class="material-icons circle {% if attendant.type == 'adult' %}red{% else %}blue{% endif %}">
                                        {% if attendant.type == 'adult' %}person{% else %}
                                            child_care{% endif %}</i>
                                    <span class="title">{{ attendant.first_name }} {{ attendant.last_name }} ({{ attendant.nationality }})</span>
                                    <p><strong>Dietary requirements:</strong> {{ attendant.dietary_requirements }}
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>

                    {% endif %}
                {% else %}

                    <p>Let us know if you can attend our wedding. Once you specify if
                        you can go or not, you will be asked for the number of
                        guests.</p>
                    <br/>
                    <div class="row">
                        <div class="input-field col m4 s12">
                            <input id="family_name"
                                   type="text" name="family_name">
                            <label for="family_name">Family Name</label>
                        </div>

                        <div class="input-field col m3 s12">
                            <select id="attendance" name="attendance">
                                <option value="yes">Yes</option>
                                <option value="no" selected>No</option>
                            </select>
                            <label>Are you able to attend?</label>
                        </div>

                        <div class="input-field col m5 s12" id="guest_count_container">
                            <input id="guest_count"
                                   type="number" name="guest_count" disabled>
                            <label for="guest_count">Number of Guests (incl. children)</label>
                        </div>

                    </div>

                    <div class="row guests hidden" id="guests">
                        {#                this is auto populated given the number of guests entered#}
                    </div>

                    <div class="row center">
                        <button id="submit_btn" class="btn waves-effect waves-light"
                                type="submit"
                                name="action" disabled>Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>

                {% endif %}
            </div>
        </div>
    </section>

    <section id="gifts" class="gifts">
        <div class="description">
            <h4>Gifts</h4>

            <div align="center">
                <img src="{{ STATIC_URL }}img/gifts.svg" width="100px"/>
            </div>
            <br/><br/>

            <p>Un luogo comune, ma il miglior regalo per noi sta avendo lì, e sappiamo ci sono un sacco di spesa per chi
                viaggia dall'estero.</p>
            <br/>

            <p>Tuttavia, se si desidera fornire un regalo , andremo in luna di miele in Sud America.</p>
            <br/>

        </div>
    </section>

    <div id="hotel_modal" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>Albergi</h4>

            <p>Trani</p>
            <ul class="collection">
                {% include 'components/location.html' with locations=hotels_trani %}
            </ul>

            <br/>

            <p>Barletta</p>
            <ul class="collection">
                {% include 'components/location.html' with locations=hotels_barletta %}
            </ul>
        </div>
    </div>

    <div id="bandb_modal" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>Bed & Breakfasts</h4>
            <p>Trani</p>
            <ul class="collection">
                {% include 'components/location.html' with locations=bandb_trani %}
            </ul>

            <p>Barletta</p>
            <ul class="collection">
                {% include 'components/location.html' with locations=bandb_barletta %}
            </ul>
        </div>
    </div>

{% endblock %}
