<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Annapaola and Eamonn | 14th May 2016</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="favicon.ico"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>


<div class="navbar-fixed">
    <nav>
        <ul id="language_dropdown" class="dropdown-content">
            <li><a href="/it/"><img src="{{ STATIC_URL }}img/flag-ita.svg"
                                    width="17px"/></a></li>
            <li><a href="/en/"><img src="{{ STATIC_URL }}img/flag-ire.svg"
                                    width="17px"/></a></li>
        </ul>

        <div class="nav-wrapper">
            <a href="#!" class="brand-logo"><img
                    src="{{ STATIC_URL }}img/logo.svg" width="50px"/> </a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i
                    class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#ceremony" class="scroll_link">Ceremony</a></li>
                <li><a href="#reception" class="scroll_link">Reception</a></li>
                <li><a href="#getting_there" class="scroll_link">Getting
                    There</a></li>
                <li><a href="#rsvp" class="scroll_link">RSVP</a></li>
                <li><a href="#gifts" class="scroll_link">Gifts</a></li>
                <li><a class="dropdown-button" href="#!"
                       data-activates="language_dropdown"><img
                        src="{{ STATIC_URL }}img/flag-ire.svg" width="20px"/><i
                        class="material-icons right">arrow_drop_down</i></a>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <div align="center">
                    <img src="{{ STATIC_URL }}img/logo.svg" width="50px"/>
                </div>
                <li><a href="#ceremony" class="scroll_link">Ceremony</a></li>
                <li><a href="#reception" class="scroll_link">Reception</a></li>
                <li><a href="#getting_there" class="scroll_link">Getting
                    There</a></li>
                <li><a href="#rsvp" class="scroll_link">RSVP</a></li>
                <li><a href="#gifts" class="scroll_link">Gifts</a></li>


                <li><a href="/it/"><img src="{{ STATIC_URL }}img/flag-ita.svg"
                                        width="20px"/></a></li>
                <li><a href="/en/"><img src="{{ STATIC_URL }}img/flag-ire.svg"
                                        width="20px"/></a></li>


            </ul>
        </div>
    </nav>
</div>

<section class="top" align="center">

    <img src="{{ STATIC_URL }}img/heart.svg" width="30px">
    <br/>
    <img src="{{ STATIC_URL }}img/us.svg" width="160px">
    <br/>

    <p class="large-text">Annapaola <span class="blue-text large-text">&</span>
        Eamonn</p>

    <p style="font-weight: bolder;">14th May 2016</p>
</section>

<section id="ceremony" class="church_bg">
    <div class="church">
        <div class="description">
            <h4>The Ceremony</h4>

            <p style="font-weight: bolder;">Basilica Cattedrale di Trani,
                Trani, Puglia</p><br/>

            <p>Right on the coast, this beautiful Cathedral will host our
                wedding.</p><br/>

            <p>The ceremony will begin at <strong>4.30pm</strong>. Guests are
                requested to arrive <strong>30 minutes</strong> before the
                ceremony. </p><br/>
            <p>Parking is normally available outside the Cathedral. A bus will
                be available to transport those in hotels and Lavello to the
                cathedral and the <a href="#reception">reception venue</a>.</p>
            <br/>
            <a href="https://www.google.it/maps/place/Cattedrale+di+Trani+-+Basilica/@41.2819073,16.4158642,852m/data=!3m1!1e3!4m2!3m1!1s0x1338040b58cc7ce3:0x880f0c96b60233ee!6m1!1e1?hl=it"
               target="_blank" class="waves-effect waves-light btn light-blue">Google
                Maps</a>
        </div>
    </div>
</section>

<section id="reception" class="reception_bg">
    <div class="reception">
        <div class="description">
            <h4>The Reception</h4>

            <p>Villa Sant’Elia, Andria-Corato, Puglia</p><br/>

            <a href="http://www.villasantelia.it/index.asp" target="_blank"
               class="waves-effect waves-light btn light-blue">Villa
                Sant’Elia</a> <a
                href="https://www.google.it/maps/place/Villa+Sant'Elia/@41.1787206,16.3590611,672m/data=!3m2!1e3!4b1!4m2!3m1!1s0x13380fceb5bec197:0x6669518639ca16e!6m1!1e1?hl=it"
                target="_blank"
                class="waves-effect waves-light btn light-blue">Google Maps</a>
        </div>
    </div>
</section>

<section id="getting_there" class="getting_there_bg">
    <div class="getting_there">
        <div class="description">
            <h4>Getting There</h4>

            <div class="row">
                <div class="col m3">
                    <img src="{{ STATIC_URL }}img/map.svg" width="100%"/>
                </div>

                <div class="col m9">
                    <p>The wedding and reception is in the Puglia region of
                        Italy.</p><br/>

                    <p>The closest airport is in Bari which is ~45 minutes away
                        from the wedding venue in Trani. Bari is served by
                        Ryanair from Dublin, AlItalia and Ryanair from
                        London</p>
                    <br/>

                    <p>The wedding venue, Villa Sant'Elia is ~25 minutes away
                        from Trani.</p><br/>

                    <p>Hotels are available in Trani, as are B&Bs (and airbnb).
                        The nearby town of Barletta also has
                        various hotels.</p><br/>

                    <button data-target="hotel_modal"
                            class="btn waves-effect waves-light btn light-blue modal-trigger">
                        Hotels
                    </button>
                    <button data-target="bandb_modal"
                            class="btn waves-effect waves-light btn light-blue modal-trigger">
                        B&Bs
                    </button>

                </div>


            </div>
        </div>
    </div>
</section>

<section id="rsvp" class="rsvp_bg">
    <div class="rsvp">
        <div class="description">
            <h4>RSVP</h4>

            <p>Let us know if you can attend our wedding. Once you specify if
                you can go or not, you will be asked for the number of
                guests.</p>
            <br/>
            <div class="row">
                <div class="input-field col m4 s12">
                    <input id="family_name"
                           type="text" name="family_name">
                    <label for="family_name">Family Name</label>
                </div>

                <div class="input-field col m3 s12">
                    <select id="attendance" name="attendance">
                        <option value="yes">Yes</option>
                        <option value="no" selected>No</option>
                    </select>
                    <label>Are you able to attend?</label>
                </div>

                <div class="input-field col m5 s12" id="guest_count_container">
                    <input id="guest_count"
                           type="number" name="guest_count" disabled>
                    <label for="guest_count">Number of Guests (incl. children)</label>
                </div>

            </div>

            <div class="row guests hidden" id="guests">
                {#                this is auto populated given the number of guests entered#}
            </div>

            <div class="row center">
                <button id="submit_btn" class="btn waves-effect waves-light"
                        type="submit"
                        name="action" disabled>Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>

        </div>
    </div>
</section>

<section id="gifts" class="gifts">
    <div class="description">
        <h4>Gifts</h4>

        <div align="center">
            <img src="{{ STATIC_URL }}img/gifts.svg" width="100px"/>
        </div>
        <br/><br/>

        <p>A cliché, but the best gift for us is having you there, and we know
            there’s a lot of
            expense for those travelling from abroad.</p>
        <br/>

        <p>However, If you wish to provide a gift, we will be going on
            honeymoon to South America.</p>
        <br/>

    </div>
</section>

<div id="hotel_modal" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Hotels</h4>

        <p>Trani</p>
        <ul class="collection">
            {% include 'components/location.html' with locations=hotels_trani %}
        </ul>

        <br/>

        <p>Barletta</p>
        <ul class="collection">
            {% include 'components/location.html' with locations=hotels_barletta %}
        </ul>
    </div>
</div>

<div id="bandb_modal" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Bed & Breakfasts</h4>
        <p>Trani</p>
        <ul class="collection">
            {% include 'components/location.html' with locations=bandb_trani %}
        </ul>

        <p>Barletta</p>
        <ul class="collection">
            {% include 'components/location.html' with locations=bandb_barletta %}
        </ul>
    </div>
</div>


<script type="text/javascript"
        src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

{% include 'components/guest_form_components.html' %}

<script>
    $(".button-collapse").sideNav();
    $('.modal-trigger').leanModal();

    $(document).ready(function () {
        $('select').material_select();
    });

    var attending = false;
    var attendees = [];

    $('#attendance').on('change', function () {
        if ($(this).val() === 'yes') {
            $('#guest_count').prop('disabled', false)
        } else {
            $('#guest_count').prop('disabled', true)
        }
        check_to_show_submit();
    });

    function add_attendee(index) {
        attendees.push({'person_count': index+1, 'firstname': '', 'lastname': '', adultchild: '', 'nationality': '', 'dietrequirements': ''})
    }

    function update_attendee(field) {
        // get person count -> gives index.
        // get index item and set field value
        var name_id = field.attr('id').split("_");
        var index = parseInt(name_id[1])-1;
        var field_name = name_id[0];
        var value = field.val();
        attendees[index][field_name] = value;
    }

    var no_guest_source = $("#no-guest-template").html();
    var no_attendance_source = $("#no-attendance-template").html();

    var no_guest_template = Handlebars.compile(no_guest_source);
    var no_attendance_template = Handlebars.compile(no_attendance_source);

    var no_guest_html = no_guest_template('');
    var no_attendance_html = no_attendance_template('');

    function check_to_show_submit() {
        if ($('#family_name').val().length > 0) {
            if ($('#attendance').val() === 'yes') {
                attending = true;

                if (parseInt($('#guest_count').val()) > 0) {

                    $('#submit_btn').prop('disabled', false);
                    var source = $("#guest-template").html();
                    var template = Handlebars.compile(source);

                    var guest_count = parseInt($('#guest_count').val());

                    for (var i = 0; i < guest_count; i++) {
                        if (i >= attendees.length) add_attendee(i);
                    }

                    if (guest_count < attendees.length) {
                        attendees = attendees.slice(0, guest_count);
                    }

                    var context = attendees;
                    var html = template(context);

                    $("#guests").html(html);
                    $('select').material_select();
                    $("#guests").removeClass('hidden');
                } else {
                    $("#guests").html(no_guest_html);
                    $('#submit_btn').prop('disabled', true);
                }
            } else {
                attending = false;
                $("#guests").html(no_attendance_html);
                $('#submit_btn').prop('disabled', false);
            }
        } else {
            $('#submit_btn').prop('disabled', true);
        }
    }

    $("#guests").on('change', ".person select", function () {
        update_attendee($(this));
    });

    $("#guests").on('input', ".person input", function () {
        update_attendee($(this));
    });


    $('#family_name, #guest_count').on('input', function () {
        check_to_show_submit();
    });

    $('#submit_btn').on('click', function () {
        submit_form()
    });


    var submit_form = function () {
        var rsvp_json = {
            'family_name': $('#family_name').val(),
            "guests": attending ? attendees.length : 0, "attending": attending, "guest_details": JSON.stringify(attendees)
        };

        $.ajax({
            method: "POST",
            url: "/rsvp",
            data: rsvp_json,
            dataType: 'json',
            success: function (data) {
                console.log(data);
            },

        })
    };


    $(".scroll_link").click(function (e) {
        e.preventDefault();

        var position = $(this).attr('href');
        $('html, body').animate({
            scrollTop: $(position).offset().top
        }, 1000);
    })
</script>


</body>
</html>